@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --very_light_transparent: rgba(255, 255, 255, 0.7);
    --light_transparent: rgba(255, 255, 255, 0.4);
    --darker_blue: rgb(0, 30, 60);
    --dark_blue: rgb(0, 50, 100);
    --blue: rgb(0, 90, 150);
    --rounded_corners: 15px;
    --normal_spacing: 15px;
    --small_spacing: 3px;
    --large_font_size: 1.5rem;
    --small_font_size: 0.7rem;
    --weather_icon_size: var(--large_font_size);
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    display: grid;
    grid-template-columns: 1fr 3.5fr;
    width: 100%;
    height: 100%;
    font-family: "Lato", sans-serif;
    color: var(--very_light_transparent);
    background-color: var(--dark_blue);
    word-spacing: 0.1rem;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--normal_spacing);
    padding: var(--normal_spacing);
    background-color: var(--darker_blue);
    min-width: 300px;
    width: inherit;
    height: inherit;
    overflow: auto;
}

.search_bar {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: var(--normal_spacing);
    margin: 15px 0px;
    border-radius: 30px;
    background-color: var(--dark_blue);
    width: 100%;
}

.search_icon {
    color: var(--very_light_transparent);
}

#search_location {
    border: none;
    outline: none;
    font-size: 20px;
    background-color: transparent;
    color: var(--very_light_transparent);
}

#search_location::placeholder {
    color: var(--light_transparent);
}

.location_history {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--normal_spacing);
    width: 100%;
}

.saved_location {
    display: grid;
    grid-template-columns: 6fr 10fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "top_left temp"
        "cond high_low";
    list-style-type: none;
    border-radius: var(--rounded_corners);
    padding: var(--normal_spacing);
    width: 100%;
    background-color: var(--dark_blue);
}

.saved_location:first-child {
    background-color: var(--blue);
}

.top_left {
    grid-area: top_left;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sl_city {
    font-size: var(--large_font_size);
    font-weight: bold;
    line-height: 0.8em;
    max-width: 180px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.sl_time {
    font-size: var(--small_font_size);
}

.sl_temp {
    grid-area: temp;
    justify-self: flex-end;
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 0.75em;
}

.sl_sky_condition {
    grid-area: cond;
    align-self: flex-end;
    font-size: var(--small_font_size);
}

.sl_high_low {
    grid-area: high_low;
    align-self: flex-end;
    justify-self: flex-end;
    font-size: var(--small_font_size);
    display: flex;
    gap: 5px;
}

main {
    display: grid;
    grid-template-columns: 1.5fr 3fr ;
    grid-template-rows: 2fr 1fr 460px;
    grid-template-areas: 
    "mw mw"
    "hf hf"
    "wf wc";
    width: inherit;
    gap: var(--normal_spacing);
    padding: var(--normal_spacing);
}

.main_weather {
    grid-area: mw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--normal_spacing);
}

.mw_city {
    font-size: 2rem;
    line-height: 0.9em;
}

.mw_temperature {
    display: flex;
    font-size: 6rem;
    font-weight: 300;
    line-height: 0.8em;
}

.mw_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-top: var(--small_spacing);
}

.mw_high_low {
    display: flex;
    gap: 7px;
}
 
.hourly_forecast {
    grid-area: hf;
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 210px;
    background-color: var(--darker_blue);
    border-radius: var(--rounded_corners);
    padding: var(--normal_spacing);
    overflow: auto;
}

.title {
    font-size: var(--large_font_size);
    font-weight: bold;
    line-height: 0.8em;
}

hr {
    border: none;
    height: 0.1px;
    background-color: var(--light_transparent);
    width: inherit;
}

.hf_main {
    display: flex;
    gap: 20px;
    height: inherit;
    overflow: auto;
}

.hf_details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 100%;
}

.hf_time, .hf_precipitation {
    color: var(--light_transparent);
    font-size: var(--small_font_size);
}

.hf_symbol {
    font-size: var(--weather_icon_size);
}

.hf_temperature {
    font-size: var(--large_font_size);
}

.hf_precipitation {
    display: flex;
    align-items: center;
}

.weekly_forecast {
    grid-area: wf;
    display: flex;
    flex-direction: column;
    gap: var(--normal_spacing);
    background-color: var(--darker_blue);
    border-radius: var(--rounded_corners);
    padding: var(--normal_spacing);
}

.wf_main {
    display: flex;
    flex-direction: column;
    gap: var(--normal_spacing);
}

.wf_details {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "s wi pi hl";
    align-items: center;
    gap: var(--normal_spacing);
}

.wf_symbol {
    grid-area: s;
    place-self: center;
    font-size: var(--large_font_size);
}

.wf_weather_info, .wf_precipitation_info, .wf_high_low {
    grid-area: wi;
    display: flex;
    flex-direction: column;
    gap: var(--small_spacing);
}

.wf_day {
    font-weight: bold;
}

.wf_sky_condition {
    font-size: var(--small_font_size);
}

.wf_precipitation_info {
    grid-area: pi;
    align-items: center;
    justify-content: center;
    color: var(--light_transparent);
}

.wf_percentage {
    font-size: var(--small_font_size);
}

.wf_high_low {
    grid-area: hl;
    align-items: center;
    justify-content: center;
}

.weather_conditions {
    grid-area: wc;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: var(--normal_spacing);
}

.weather_conditions > * {
    display: flex;
    flex-direction: column;
    gap: var(--normal_spacing);
    background-color: var(--darker_blue);
    border-radius: var(--rounded_corners);
    padding: var(--normal_spacing);
}

.wc_details {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 300;
}

.measurement {
    display: flex;
    align-items: flex-end;
    gap: 3px;
}

.number {
    font-size: 3rem;
    line-height: 0.9;
}

.unit {
    font-size: 1.5rem;
}

.description {
    font-size: 1.5rem;
    font-weight: 400;
}

::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

::-webkit-scrollbar-track {
    background: rgb(10, 10, 10);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkgray;
}